# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
/.vscode/
*.code-workspace

# Python
/__pycache__/
*.py[cod]
*$py.class

# Flask stuff
instance/
.webassets-cache

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Node
node_modules/*
package.json
package-lock.json