body {
    background: lightblue;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 20 px;
}

.flex-container > div {
    background: rgb(233, 233, 233);
    margin: 10px;
}

.palette {
    width: 300 px;
}

canvas {
    background: rgb(233, 233, 233);
    margin: 20 px;
}
