<html>
<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>
  <h1>Welcome to Conway's Game of Life!</h1>
  <canvas id="myCanvas"></canvas>
  <script type="text/javascript" language="javascript">
    //grid width and height
    var bw = 800;
    var bh = 600;
    //padding around grid
    var p = 10;
    //size of canvas
    var cw = bw + (p*2) + 1;
    var ch = bh + (p*2) + 1;
    //size of cell
    var ce = 20

    var canvas = document.getElementById("myCanvas");
    
    canvas.setAttribute("width", cw);
    canvas.setAttribute("height", ch);

    var context = canvas.getContext("2d");

    function drawBoard(universe){
        u = universe;
        u_arr = u.split('');
        width = 3;
        for (var x = 0; x < u_arr.length; x++) {
          xpos = (((x % width) * ce) + p);
          ypos = (((Math.floor(x/width)) * ce) + p);
          if (u_arr[x] == 1) {
            context.fillStyle = "#f4dc42";
            context.fillRect(xpos, ypos, ce, ce);
          }
          else {
            context.fillStyle = "#e9e9e9";
            context.fillRect(xpos, ypos, ce, ce);
          }
        }

        for (var x = 0; x <= bw; x += 20) {
            context.moveTo(0.5 + x + p, p);
            context.lineTo(0.5 + x + p, bh + p);
        }

        for (var x = 0; x <= bh; x += 20) {
            context.moveTo(p, 0.5 + x + p);
            context.lineTo(bw + p, 0.5 + x + p);
        }

        context.strokeStyle = "black";
        context.stroke();
    }

    drawBoard("000111010");

    function nextGen(){

      drawBoard("010111111");
      }
    

  </script>
  <button type="button" onclick="nextGen()">Next</button>
</body> 
</html>